{% extends 'users/base.html' %}

{% block content %}
<div class="text-center mb-4">
    <h2 class="mb-3">Профиль пользователя</h2>
    <div class="mb-4">
        <h5>Номер телефона:</h5>
        <p class="lead">{{ user.phone_number }}</p>
    </div>

    <div class="mb-4">
        <h5>Ваш инвайт-код:</h5>
        <div class="invite-code d-inline-block">
            {{ user.invite_code }}
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h4 class="mb-3">Приглашенные пользователи:</h4>
        <div class="referred-users">
            {% for referred_user in referred_users %}
                <div class="user-item">
                    {{ referred_user.phone_number }}
                </div>
            {% empty %}
                <p class="text-muted text-center">У вас пока нет приглашенных пользователей</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a href="{% url 'users:activate-referral' %}" class="btn btn-primary">
        Активировать реферальный код
    </a>
</div>
{% endblock %}